<% include partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1> Welcome to myExpressApp</h1>
			<p> View our list of posts </p>
			<p>
				<a class="btn btn-primary tn-large" href="/models/new">Add new post</a>
			</p>
		</div>
	</header>





			<% console.log(models.length)%>

	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% for(var i=0;i<models.length;++i){%>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= models[i].image %>">
					<div class="caption">
						<h4><%= models[i].name %></h4>
					</div>
					<p>
						<a href="/models/<%=models[i]._id%>" class = "btn btn-primary">More info</a>
					</p>
				</div>
				
			</div>		
		<%}%> 
	</div>
</div>
<% include partials/footer %>
